<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring01:war exploded">
    <output-path>$PROJECT_DIR$/spring01/target/spring01</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring01</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring01" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: dom4j:dom4j:1.6.1" />
          <element id="library" level="project" name="Maven: xml-apis:xml-apis:1.0.b2" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter:5.7.0" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-api:5.7.0" />
          <element id="library" level="project" name="Maven: org.apiguardian:apiguardian-api:1.1.0" />
          <element id="library" level="project" name="Maven: org.opentest4j:opentest4j:1.2.0" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-commons:1.7.0" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-params:5.7.0" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-engine:5.7.0" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-engine:1.7.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: jaxen:jaxen:1.1.1" />
          <element id="library" level="project" name="Maven: jdom:jdom:1.0" />
          <element id="library" level="project" name="Maven: xerces:xercesImpl:2.6.2" />
          <element id="library" level="project" name="Maven: xom:xom:1.0" />
          <element id="library" level="project" name="Maven: xerces:xmlParserAPIs:2.6.2" />
          <element id="library" level="project" name="Maven: xalan:xalan:2.6.0" />
          <element id="library" level="project" name="Maven: com.ibm.icu:icu4j:2.6.1" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjweaver:1.9.4" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring01/target/spring01/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring01/web/Web" />
    </root>
  </artifact>
</component>