<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring02:war exploded">
    <output-path>$PROJECT_DIR$/spring02/target/spring02</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring02</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring02" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.3" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.29" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.2.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.2.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.2.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.2.0.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis-spring:2.0.3" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.16" />
          <element id="library" level="project" name="Maven: com.mchange:c3p0:0.9.5.2" />
          <element id="library" level="project" name="Maven: com.mchange:mchange-commons-java:0.2.11" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter:5.7.0" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-api:5.7.0" />
          <element id="library" level="project" name="Maven: org.apiguardian:apiguardian-api:1.1.0" />
          <element id="library" level="project" name="Maven: org.opentest4j:opentest4j:1.2.0" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-commons:1.7.0" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-params:5.7.0" />
          <element id="library" level="project" name="Maven: org.junit.jupiter:junit-jupiter-engine:5.7.0" />
          <element id="library" level="project" name="Maven: org.junit.platform:junit-platform-engine:1.7.0" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring02/target/spring02/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring02/web/Web" />
    </root>
  </artifact>
</component>